body {
   
  background-image: url(https://media1.tenor.com/m/SP02ThJYtDgAAAAd/baltimore-baltimore-dance.gif);
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(170, 166, 148);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}